{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
    [ { "mode" : "alts" }, "Beauty", "Glory", "Diamond", "Flame", "Love", "Life", "Claw", "Cosmo", "Galactic", "Mystic", "Spirit", "Magic", "Stellar", "Rage", "Flora", "Meteor", "Thunder", "Lightning", "Quake", "Quark", "Soul", "Heart", "Solar", "Nova", "Miracle", "Celestial", "Sky", "Heaven", "Divine", "Light", "Reality", "Ever", "Void", "Time", "Chrono", "Dawn", "Dusk", "Twilight", "Midnight", "Day", "Night", "Astral", "Comet", "Pure", "Moon", "Joy" ],
      [ { "mode" : "alts" }, "protector", "shield", "breaker", "defender", "barrier", "guard", "guardian", "savior", "bulwark", "warden", "aegis", "bastion", "shell" ]      
    ]
  ]
}
